<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>My Weather</title>
  </head>
  <body class="bg-red-50">
    <!-- header -->
    <header class="flex justify-center items-center h-28 bg-red-200">
      <h1 class="text-white text-5xl font-extralight uppercase">my Weather</h1>
    </header>

    <!-- display -->
    <main class="text-center my-16">
      <div>
        <form action="/" method="post">
          <input type="text" placeholder="Location" id="location" name="location" class="h-16 w-96 p-6 rounded-lg shadow-lg" autocomplete="off" />
          <button type="submit" class="h-16 w-28 ml-6 shadow-lg btn-red">Search</button>
        </form>
      </div>

      <div class="text-center">
        <div class="bg-gray-50 w-96 min-w-max mx-auto shadow-lg h-64 my-16 rounded-lg p-6 flex justify-around relative">
          <!-- weather Icon -->
          <div class="flex items-center w-32">
            <img src=" http://openweathermap.org/img/wn/<%= icon %>@4x.png" alt="" />
          </div>

          <div class="flex flex-col items-start justify-center">
            <div class="flex justify-center">
              <p class="text-5xl font-light"><%= Math.round(temp) %></p>
              <p class="text-lg font-extralight">˚C</p>
            </div>
            <label for="location" class="text-4xl font-extralight text-gray-400 my-1"><%= cityName %></label>
            <p class="text-lg font-extralight"><%= description %></p>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer></footer>
  </body>
</html>
